.film-picked-thumb-color {
    color: #06538b;
}

.film-preview-playlist-text-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis ellipsis;
}

.film-preview-playlist-header {
    background-color: rgba(233, 236, 239, 0.80);
}

.film-preview-playlist-container {
    background-color: rgba(243, 246, 249, 0.88);
}

.film-preview-playlist-index {
    color: hsla(0, 0%, 6.7%, .6);
}

@media(hover : hover) and (pointer:fine) {

    .dropdown-item:focus, .dropdown-item:hover {
        color: #1e2125;
        background-color: #cfd1d37a;
    }

    .dropdown-item.active, .dropdown-item:active {
        color: #1e2125;
        background-color: #cfd1d3;
    }
}

#fiordur {
    width: 100%;
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: inline-flex;
    position: relative;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.1876em;
    letter-spacing: 0.00938em;
}

#fiordur > input {
    outline: none;
    box-shadow: none;
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
}

#fiordur::before {
    left: 0;
    right: 0;
    bottom: 0;
    content: "\00a0";
    position: absolute;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    pointer-events: none;
}

#fiordur::after {
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    border-bottom: 2px solid #1976d2;
    pointer-events: none;
}
