#async_typeahead > li > a {
    white-space: initial;
}

.divider {
    height: 1px;
    width: 100%;
    display: block;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}


.play-cursor-default > div > img {
    cursor: default !important
}

.play-cursor-default > div > div {
    cursor: default !important
}

.play-container {
    position: relative;
}

.title {
    line-height: 1.05;
    font-weight: 600 !important;
    transition: all .2s ease-in-out;
}

.author-nick {
    color: #606060;
    font-size: small;
}

.m-button {
    margin-right: 0;
    display: flex;
    margin-left: auto;
}

.m-button:focus {
    outline: none !important;
    outline-offset: none !important;
}

.react-ripples {
    border-radius: 20px !important;
}

.toast-root {
    bottom: 8px;
    left: 8px;
    z-index: 1400;
    position: fixed;
    align-items: center;
    justify-content: center;
}

.dropdown-toggle:after {
    display: none !important
}

.dropdown-menu.show {
    opacity: 1 !important;
    pointer-events: auto !important;
}

.dropdown-menu {
    box-shadow: 0 10px 10px #666;
}

.rbt-input {
    width: 100% !important;
}

.film-views {
    line-height: 0.6;
    color: #606060;
}

.cursor-pointer {
    cursor: pointer !important
}

.cursor-default {
    cursor: default !important
}

.suspense-loader {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    left: 0;
}

.fetch-loader {
    width: 100%;
    height: 32px;
}

.button-ripple {
    box-shadow: 0 0 0 !important;
    position: relative;
    overflow: hidden;
}

.button-ripple-24 {
    border: none;
    border-radius: 20px;
    width: 24px;
    height: 24px;
    color: black
}

.button-ripple-24-container {
    width: 24px;
    height: 24px;
}

.button-ripple-div-next-width {
    flex: 0 0 auto !important;
    width: calc(100% - 26px) !important;        
}

.form-select.no-validate:valid {
    border-color: #ced4da;
    padding-right: .75rem;
    background: none;
}

@media (max-width: 575.98px) { 
    .search-bar {
        width: 100%;
    }

    .container-px {
        padding-right: .25rem !important;
        padding-left: .25rem !important;
    }
}

@media (max-width: 767.98px) { 
    .film-preview-container-px {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
 }

.line-height-unset {
    line-height: unset !important;
}

.container-px {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}

.film-preview-container-px {
    padding-right:  .5rem !important;
    padding-left:  .5rem !important;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

