.search-title {
    font-size: 1.6rem;
    line-height: 1.05;
    font-weight: 400 !important;
}

.search-filter {
    color: #606060;
    cursor: pointer;
}

.search-style {
    cursor: pointer;
}

.search-button {
    border: none;
    color: black;
}

.search-button:hover {
    color: black;
    background-color: hsla(0, 0%, 0%, 0.15);
}

.search-skeleton:before {
    display: block;
    content: "";
}

.author-nick-search {
    font-size: smaller;
}